{% for launch in launches %}
__global__ void kernel_{{ loop.index0 }}(Bindings bindings) {
  extern __shared__ __align__(128) unsigned char storage[];
  auto const& tile = kTiles[{{ launch.begin }} + blockIdx.x];
{% if launch.bodies | length == 1 %}
  operation_{{ launch.body }}(bindings, tile, storage, StreamedRuntime{});
{% else %}
  switch (tile.y) {
{% for body in launch.bodies %}    case {{ body }}: operation_{{ body }}(bindings, tile, storage, StreamedRuntime{}); break;
{% endfor %}  }
{% endif %}
}
{% endfor %}
