{% include "headers" %}

namespace trinity::generated {
inline constexpr unsigned kBuffers = {{ buffers|length }};
inline constexpr unsigned kThreads = 128;
inline constexpr std::size_t kSharedBytes = {{ shared }};

{{ common_types }}
{{ types }}

{{ runtime }}

{% for body in bodies %}{{ body }}
{% endfor %}

{% include "kernels" %}

} // namespace trinity::generated

{% include "host" %}
