template<class Runtime>
__device__ bool operation_{{ operation }}(Bindings const& bindings, Tile const& tile, void* memory, Runtime const&) {
  auto input = static_cast<{{ input_types[0] }} const*>(bindings.values[{{ inputs[0] }}]);
  auto output = static_cast<{{ output_type }}*>(bindings.values[{{ output }}]);
{% if reduction %}
  float sum = 0.0f;
  for (unsigned column = threadIdx.x; column < {{ columns }}; column += 128)
    sum += static_cast<float>(input[tile.x * {{ columns }} + column]);
  auto partial = static_cast<float*>(memory);
  partial[threadIdx.x] = sum;
  __syncthreads();
  for (unsigned stride = 64; stride; stride >>= 1) {
    if (threadIdx.x < stride) partial[threadIdx.x] += partial[threadIdx.x + stride];
    __syncthreads();
  }
  if (threadIdx.x == 0) output[tile.x] = partial[0];
  __syncthreads();
{% else %}
  unsigned column = tile.y + threadIdx.x;
  if (column < {{ length if vector else columns }}) {
    unsigned offset = {% if vector %}column{% else %}tile.x * {{ columns }} + column{% endif %};
    float x = static_cast<float>(input[{% if broadcast %}tile.x{% else %}offset{% endif %}]);
{% if inputs|length == 2 %}
    float y = static_cast<float>(static_cast<{{ input_types[1] }} const*>(bindings.values[{{ inputs[1] }}])[offset]);
{% endif %}
    constexpr unsigned scalar_bits = {{ scalar_bits }}u;
    output[offset] = static_cast<{{ output_type }}>({{ expression }});
  }
{% endif %}
  return true;
}
